* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open sans", Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.grid-col-2 {
  display: grid;
}

@media (max-width: 1040px) {
  html {
    font-size: 56%;
  }

  ul li {
    margin-right: 1rem;
    font-size: 1.6rem;
    display: none;
  }

  .grid-col-2 {
    grid-template-rows: 1fr 1fr !important;
    padding-top: 5rem;
  }

  .header__img {
    justify-self: center;
    margin-right: 0;
  }

  .header__img::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: #000080;
    border-radius: 50%;
    z-index: 0;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  }

  .cover {
    width: 30rem;
    margin-top: 50px;
  }

  .header__text {
    padding-top: 5rem;
  }
  .close {
    display: block;
    font-size: 6.4rem;
    text-align: center;
    color: #000080;
  }
  .open {
    display: none;
  }

  .h3 {
    padding-left: 1rem;
  }
}

@media (min-width: 1040px) {
  .grid-col-2 {
    grid-template-columns: 1fr 1fr;
    padding-top: 5rem;
  }

  .close {
    display: none;
  }

  .open {
    display: block;
  }
}
